# Dependencies
__pycache__/
*.py[cod]
.venv/

# Environment
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Test
.coverage
coverage.xml
htmlcov/
.pytest_cache/

# Build
dist/
build/
*.egg-info/
